.connectionsContainer {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	background-color: var(--main-bg);
}

.connectionsContent {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: auto;
	grid-template-areas: 'headerImage textInfo';
}

.headerImage {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: auto;
	grid-template-areas:
		'. . . .'
		'. . . .'
		'. header image image'
		'. . . .';
}

.textInfo {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: auto;
	grid-template-areas:
		'. . . .'
		'name . . .'
		'text text text text'
		'. . . .';
}

.connectionsContentR {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: auto;
	grid-template-areas: 'textInfo headerImage';
}

.headerImageR {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: auto;
	grid-template-areas:
		'. . . .'
		'. . . .'
		'image image header .'
		'. . . .';
}

.textInfoR {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: auto;
	grid-template-areas:
		'. . . .'
		'. . . name'
		'text text text text'
		'. . . .';
}
