.subHeaderWrapper {
	margin-left: 5%;
}

.subHeader {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 38px;
	margin: 0;

	color: var(--main-textColor);
}

.subHeaderDescription {
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 0.6rem;
	line-height: 30px;
	margin: 0;
	text-indent: 1rem;

	color: var(--main-textColor);
}
