.subHeaderWrapper {
	border: 1px solid white;
	height: 100px;
	width: 100vw;
}

.subHeader {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 1.625rem;
	line-height: 38px;
	margin: 0;

	color: var(--main-textColor);
}

.subHeaderDescription {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 30px;
	margin: 0;
	text-indent: 2rem;

	color: var(--main-textColor);
}
