.logoContainer {
	grid-area: logo;
}

.Logo {
	height: 3em;
}

.madeByEngineersForEngineersContainer {
	grid-area: madebyengineersforengineers;
	align-self: end;
	transform: rotate(-90deg);
}

.headerContainer {
	grid-area: header;
}

.profileImageContainer {
	grid-area: image;
	justify-self: center;
}

.profileInfoContainer {
	grid-area: info;
}

.Container {
	padding: 2em;
	display: grid;
	grid-template-columns: 50px 600px 600px 20px;
	grid-template-rows: 40px 40px auto;
	grid-row-gap: 50px;
	grid-column-gap: 30px;
	grid-template-areas:
		'. . logo .'
		'. header . .'
		'madebyengineersforengineers image info .'
		'. . . .';
}
