.Position {
}

h3 {
	border: 1px solid red;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	text-align: right;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	transform: rotate(-90deg);
}
