.searchContainer {
	width: 100vw;
	height: 100vh;
}

.searchHeader {
	height: 10%;
	display: flex;
	align-items: center;
	margin: 8px;
}

.searchBody {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.searchContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchFooter {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 10%;
	margin-right: 8%;
}
