.headerWrapper {
	margin-left: 13%;
	opacity: 0.5;
}

.headerText {
	font-family: Eczar;
	font-weight: 600;
	font-size: 5rem;
	line-height: calc(4rem * 1);
	margin: 0;
	/* TODO: use global colors with variables */
	color: var(--main-bg);
	/* text-shadow creates an outline effect, more calls means bolder outline */
	text-shadow: 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor),
		0 0 1px var(--secondary-textColor), 0 0 1px var(--secondary-textColor);
}
