.landingWrapper {
	flex-direction: column;
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	background-color: var(--main-bg);
	overflow: hidden;
	padding-left: 5vw;
	padding-right: 5vw;
}

.midContainer {
	flex: 5;
	display: grid;
	grid-template-columns: 10% repeat(2, 45%);
	grid-template-rows: repeat(2, 50%);
}

.footerContainer {
	display: flex;
	flex: 1;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
