.Engineers {
}

.Engineers h6 {
	position: absolute;
	height: 19px;
	width: 30%;
	left: 1%;
	right: 75.28%;
	top: calc(40% - 19px / 2);
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	transform: rotate(-90deg);
}
